<!-- Nav Bar  -->
<nav class="navbar navbar-light sticky-top navbar-expand-lg">
  <ul class="navbar-nav mr-auto">
    <span class="pad-left">
      <li class="nav-item">
        <a class="navbar-brand" href="#">Ryan Hernandez</a>
      </li>
    </span>
  </ul>
  <span class="pad-right">
    <ul class="navbar-nav ml-auto nav-fill">
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="." fragment="experience-link">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="." fragment="project-link">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="." fragment="contact-link">Contact</a>
      </li>
    </ul>
  </span>
</nav>

<!-- Main Page -->
<div class="col-sm-12">
  <div align="center">
    <div class="col-sm-12">
      <div class="box">

        <!-- About Section -->
        <div class="row">
          <div class="col-sm-5" id="aboutme-link" style="padding-top: 50px;">
            <div class="crop">
              <img src="assets/ryanandbrittni.png">
            </div>
          </div>
          <div class="col-sm-7">
            <div class="about">
              About Me
            </div>
            <div id="aboutCarouselIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
              <ol class="carousel-indicators">
                <li data-target="#aboutCarouselIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#aboutCarouselIndicators" data-slide-to="1"></li>
                <li data-target="#aboutCarouselIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <br><br>
                  My name is Ryan Hernandez and I am a senior in the College of Engineering at the University of
                  Oklahoma, graduating with a degree in
                  Computer Science in May 2020.
                  I grew up in Oklahoma City, Oklahoma, but also lived for three years in Spokane, Washington, where I
                  fell in love with the Pacific
                  Northwest. Because of my love for the area, I've made the decision to seek employment from one of the
                  many amazing companies based in
                  Seattle.
                </div>
                <div class="carousel-item">
                  <br><br>
                  I grew up during the dot com bubble that saw the rapid adoption of technology and the explosion of
                  personal computing, and as a result,
                  my interest in computers and passion for learning new technologies was cultivated at an early age. To
                  describe myself, I am a gregarious
                  person that enjoys making new friends and working as a team to solve challenging problems. <br>
                  Beyond my passion for technology, I am also incredibly passionate about music (of a variety of
                  genres), and sports such as basketball,
                  soccer, and football.
                </div>
                <div class="carousel-item">
                  <br><br>
                  I am always eager to learn new
                  technologies, and have been fortunate enough to have the opportunity to do just that, as well as
                  improve my problem solving skills and
                  coding abilities, while working at my internship at American Fidelity. <br>
                  I've mainly worked in full stack development of web applications in my professional life, however
                  through my education I also have experience
                  from classes in
                  artificial intelligence and machine learning, as well as in computer security. Additionally, next
                  semester I will be taking a course in
                  intelligent robotics. <br>
                  In my personal life, I have worked on some projects (that I will expand upon further below) involving
                  data analytics and computer security.
                </div>
              </div>
              <a class="carousel-control-prev" href="#aboutCarouselIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#aboutCarouselIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>

        <!-- Resume Section -->
        <div class="row" align="left">
          <div class="col-sm-5">
            <div class="resume-title" id="experience-link">
              Experience
            </div>
          </div>
          <div class="col-sm-7" id="experience">
            <div class="resume">
              <div class="resume-container left">
                <div class="content">
                  <h2>Jan 2018</h2>
                  <h3><em>American Fidelity Assurance Co.</em></h3>
                  <br>
                  <ul>
                    <li>
                      Full stack development of web-based applications including creating, from the ground up, a web
                      page to track standard compliance throughout the company, saving the company thousands of hours in
                      compliance auditing.
                    </li>
                    <li>
                      Experienced with Azure DevOps including the implementation of deployment pipelines in new and
                      existing codebases.
                    </li>
                    <li>
                      Versed in complete software life cycle from preliminary needs analysis to enterprise-wide
                      deployment and support.
                    </li>
                  </ul>
                </div>
              </div>
              <div class="resume-container right">
                <div class="content">
                  <h2>Aug 2015</h2>
                  <h3><em>Starbucks</em></h3>
                  <br>
                  <ul>
                    <li>
                      Beverage crafting, register operation, and customer service
                    </li>
                    <li>
                      Gained experience working in an extremely fast-paced, team environment at one of the busiest
                      stores in the district, delivering top quality products and meeting customer demands
                    </li>
                  </ul>
                </div>
              </div>
              <div class="resume-container left">
                <div class="content">
                  <h2>Nov 2014</h2>
                  <h3><em>Let's Play Sports Inc.</em></h3>
                  <br>
                  <ul>
                    <li>
                      Data entry and filing
                    </li>
                    <li>
                      Facility supervision
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Projects Section -->
        <div class="row">
          <div class="col-sm-5">
            <div class="projects-title" id="project-link">
              Projects
            </div>
          </div>
          <div class="col-sm-7">
            <div class="projects">
              <!-- Nav tabs -->
              <nav style="padding-top: 20px;">
                <div class="nav-css">
                  <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-proj-1-tab" data-toggle="tab" href="#nav-proj-1"
                      role="tab" aria-controls="nav-proj-1" aria-selected="true">Standards Adherence</a>
                    <a class="nav-item nav-link" id="nav-proj-2-tab" data-toggle="tab" href="#nav-proj-2" role="tab"
                      aria-controls="nav-proj-2" aria-selected="false">Basketball Statistics Application</a>
                    <a class="nav-item nav-link" id="nav-proj-3-tab" data-toggle="tab" href="#nav-proj-3" role="tab"
                      aria-controls="nav-proj-3" aria-selected="false">Keyless Entry Authentication</a>
                  </div>
                </div>
              </nav>

              <!-- Tab panes -->
              <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-proj-1" role="tabpanel" aria-labelledby="nav-proj-1-tab">
                  <div>
                    A single-page application for tracking compliance to security standards for each system across the
                    company. The application quantifies adherence and total hours for remediation, as well as automates
                    email reminders for auditing the compliance of each system in the business. <br><br>
                    <strong>Technologies Used</strong>: C#, Angular, .NET Framework, Hangfire, Azure DevOps
                  </div>
                </div>
                <div class="tab-pane fade" id="nav-proj-2" role="tabpanel" aria-labelledby="nav-proj-2-tab">
                  An application that parses and manipulates NBA player statistics gathered using a web scraper created
                  to collect all Per Game and Per 36 Minutes statistics for every player in the history of the NBA as
                  .CSV files. <br><br>
                  <strong>Technologies Used</strong>: Java, Python, Beautiful Soup Library
                </div>
                <div class="tab-pane fade" id="nav-proj-3" role="tabpanel" aria-labelledby="nav-proj-3-tab">
                  An end of year class project in Computer Security which serves as an implementation of security
                  improvements for keyless entry vehicles through multi-factor authentication of key fob transmissions
                  as well as time interval caps of authentication attempts, greatly enhancing the security of vehicles
                  that utilize this feature. <br><br>
                  <strong>Technologies Used</strong>: C#, .NET Core, Twilio, Azure SQL Database
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer  -->
<div class="footer">
  <div class="bottom" id="contact-link">
    Contact: &nbsp;&nbsp;<a href="mailto:ryanhernandez@ou.edu" target="_blank"><i class="fas fa-envelope"></i></a>
    &nbsp;&nbsp;<a href="https://www.linkedin.com/in/ryan-hernandez-developer" target="_blank"><i
        class="fab fa-linkedin"></i></a>
    &nbsp;&nbsp;<a href="https://github.com/ryan-hernandez" target="_blank"><i class="fab fa-github-square"></i></a>
  </div>
</div>
<div class="message">
  <small style="color: gray;">This web page was designed and created by Ryan Hernandez using Angular</small>
</div>