<!-- Nav Bar  -->
<nav class="navbar navbar-light sticky-top navbar-expand-lg">
  <ul class="navbar-nav mr-auto">
    <span class="pad-left">
      <li class="nav-item">
        <a class="navbar-brand" href="#">Ryan Hernandez</a>
      </li>
    </span>
  </ul>
  <span class="pad-right">
    <ul class="navbar-nav ml-auto nav-fill">
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="." fragment="experience-link">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="." fragment="project-link">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="." fragment="contact-link">Contact</a>
      </li>
    </ul>
  </span>
</nav>

<!-- Main Page -->
<div class="col-sm-12">
  <div align="center">
    <div class="col-sm-10">
      <div class="box">

        <!-- About Section -->
        <div class="row">
          <div class="col-sm-6" id="aboutme-link" style="padding-top: 100px;">
            <div class="crop">
              <img src="assets/ryanandbrittni.png">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="about">
              About Me
            </div>
            <div id="aboutCarouselIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
              <ol class="carousel-indicators">
                <li data-target="#aboutCarouselIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#aboutCarouselIndicators" data-slide-to="1"></li>
                <li data-target="#aboutCarouselIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <br><br>
                  My name is Ryan Hernandez and I am a senior in the College of Engineering at the University of
                  Oklahoma, graduating with a degree in
                  Computer Science in May 2020.
                  I grew up in Oklahoma City, Oklahoma, but also lived for three years in Spokane, Washington, where I
                  fell in love with the Pacific
                  Northwest. Because of my love for the area, I've made the decision to seek employment from one of the
                  many amazing companies based in
                  Seattle.
                </div>
                <div class="carousel-item">
                  <br><br>
                  I grew up during the dot com bubble that saw the rapid adoption of technology and the explosion of
                  personal computing, and as a result,
                  my interest in computers and passion for learning new technologies was cultivated at an early age. To
                  describe myself, I am a gregarious
                  person that enjoys making new friends and working as a team to solve challenging problems. <br>
                  Beyond my passion for technology, I am also incredibly passionate about music (of a variety of
                  genres), and sports such as basketball,
                  soccer, and football.
                </div>
                <div class="carousel-item">
                  <br><br>
                  I am always eager to learn new
                  technologies, and have been fortunate enough to have the opportunity to do just that, as well as
                  improve my problem solving skills and
                  coding abilities, while working at my internship at American Fidelity. <br>
                  I've mainly worked in full stack development of web applications in my professional life, however
                  through my education I also have experience
                  from classes in
                  artificial intelligence and machine learning, as well as in computer security. Additionally, next
                  semester I will be taking a course in
                  intelligent robotics. <br>
                  In my personal life, I have worked on some projects (that I will expand upon further below) involving
                  data analytics and iOS development.
                </div>
              </div>
              <a class="carousel-control-prev" href="#aboutCarouselIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#aboutCarouselIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>

        <!-- Resume Section -->
        <div class="row" align="left">
          <div class="col-sm-6">
            <div class="resume-title" id="experience-link">
              Experience
            </div>
          </div>
          <div class="col-sm-6" id="experience">
            <div class="resume">
              <div class="resume-container left">
                <div class="content">
                  <h2>Jan 2018</h2>
                  <h3><em>American Fidelity Assurance Co.</em></h3>
                  <br>
                  <ul>
                    <li>
                      Full stack development of web based applications mainly using the .NET Framework and Angular
                    </li>
                    <li>
                      Experienced with Azure DevOps including CI/CD using Azure Pipelines
                    </li>
                    <li>
                      Versed in complete software life cycle from preliminary needs analysis to enterprise-wide
                      deployment and support
                    </li>
                  </ul>
                </div>
              </div>
              <div class="resume-container right">
                <div class="content">
                  <h2>Aug 2015</h2>
                  <h3><em>Starbucks</em></h3>
                  <br>
                  <ul>
                    <li>
                      Beverage crafting, register operation, and customer service
                    </li>
                    <li>
                      Gained experience working in an extremely fast-paced, team environment at one of the busiest
                      stores in the district, delivering top quality products and meeting customer demands
                    </li>
                  </ul>
                </div>
              </div>
              <div class="resume-container left">
                <div class="content">
                  <h2>Nov 2014</h2>
                  <h3><em>Let's Play Sports Inc.</em></h3>
                  <br>
                  <ul>
                    <li>
                      Data entry and filing
                    </li>
                    <li>
                      Facility supervision
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Projects Section -->
        <div class="row">
          <div class="col-sm-6">
            <div class="projects-title" id="project-link">
              Projects
            </div>
          </div>
          <div class="col-sm-6">
            <div class="projects">
              <div id="projectCarouselIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
                <ol class="carousel-indicators">
                  <li data-target="#projectCarouselIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#projectCarouselIndicators" data-slide-to="1"></li>
                  <li data-target="#projectCarouselIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <br><br>
                    Adding in future update
                  </div>
                  <div class="carousel-item">
                    <br><br>
                    Adding in future update
                  </div>
                  <div class="carousel-item">
                    <br><br>
                    Adding in future update
                  </div>
                </div>
                <a class="carousel-control-prev" href="#projectCarouselIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#projectCarouselIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer  -->
<div class="footer">
  <div class="bottom" id="contact-link">
    Contact: &nbsp;&nbsp;<a href="mailto:ryanhernandez@ou.edu" target="_blank"><i class="fas fa-envelope"></i></a>
    &nbsp;&nbsp;<a href="https://www.linkedin.com/in/ryan-hernandez-developer" target="_blank"><i
        class="fab fa-linkedin"></i></a>
    &nbsp;&nbsp;<a href="https://github.com/ryan-hernandez" target="_blank"><i class="fab fa-github-square"></i></a>
  </div>
</div>
<div class="message">
  <small style="color: gray;">This web page was designed and created by Ryan Hernandez with Angular</small>
</div>