<nav class="navbar sticky-top navbar-expand-lg navbar-light">
  <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="navbar-brand" href="#">Ryan Hernandez</a>
      </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="#">Right</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Right</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
  </ul>
</nav>

<div class="long-page" align="center">
  <p>Test</p>
</div>